<table>
    <tr>
        <th>Name</th>
        <th>Games</th>
        <th>Devs On Site</th>
    </tr>
    <% developers.each do |developer| %>
        <tr>
            <td><%= link_to developer.name, developer_path(developer) %></td>
            <td><%= link_to developer.game_count, developer_games_path(developer) %></td>
            <td><%= developer.employee_count %></td>
        <tr>
    <% end %>
</table>