<div class='user_card_container'>
    <div class='list_title'> <%= list_title %> </div>
    <% users.each do |user| %>
        <%= render partial: 'users/infobox', locals: {user: user} unless user === current_user%>
    <% end %>
</div>