<%= render 'shared/flash_message' %>

<%= render partial: "infobox", locals: {user: @user, current_user: current_user} %>

<div class='list_title'>
    <%= "#{@user.username}'s game collection" %>
</div>
<%= render partial: "games/list", locals: {games: @user.games} %>

