/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     margin: 0;
 }

 a{
    text-decoration: none;
 }

 /*GAME CARD*/

 form.new_game{
     margin-top: 10vh;
 }
 
 div.game_card{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px;
    position: relative;
    margin: 5px;
 }

 div.game_card_container{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
 }

 div.game_card_header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 40%;
    width: 95%;
    position: absolute;
    top: 0;
    margin: 2%;
 }
 
 p.game_card_description{
    font-size: 12px;
    position: absolute;
    top: 40%;
 }

 div.game_card_footer{
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    margin: 8px;
 }

div.game_card_header img{
    border: 2px dotted black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    text-align: center;
    align-self: flex-end;
}


 span.game_card_release_year{
     font-size: 14px;
 }

 span.game_card_title{

 }

/*GENERAL*/

form.button_to{
    align-self: center;
    display: inline-flex;
    width: auto;
}

 div.container{
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     width: 40vw;
 }

 div.list_title{
    display: block;
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
 }

 div.page_container{
     display: flex;
     flex-direction: column;
     width: 90%;
     margin: auto;
 }

 span.page_title{
     display: block;
     font-size: 24px;
     text-align: center;
     margin-top: 10vh;
     width: auto;
 }

 div.error_message{
    width: 30%;
    margin: auto;
    font-weight: bold;
    color: red;
 }

 table{
     margin: auto;
 }

 table th.label{
     text-align: right;
 }

 /*NAVBAR*/

 div.navbar{
    background-color: rgb(88, 158, 238);   
    text-align: center;
    height: 35px;
    vertical-align: middle;
 }

 div.navbar a{
    font-weight: bold;
    padding-top: 10px;
    display: inline-block;
 }

 /*USERS*/

 div.infobox{
     width: 500px;
     height: 200px;
     border: 2px solid black;
     margin: 15px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 div.infobox img{
    align-self: flex-end;
    height: 90%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
 }

 div.infobox img.missing{
    border: 2px dotted black;
    border-radius: 10px;
    width: 180px;
 }

div.user_data{
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    font-size: 14px;
    text-align: center;
}

div.user_data table td{
    text-align: left;
}

div.user_card_container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

 
